:root {
  --primary-bg: #fff8ee;
  --secondary-bg: #f4511e;
  --accent-bg: #2C2C2C;

  --primary-text: #2C2C2C;
  --secondary-text: #f4511e;
  --muted-text: #757575;

  --primary-accent: rgb(255, 152, 0);
  --secondary-accent: rgb(39,202,204);
  --error-color: #FF5722;
  --success-color: #4CAF50;

  --border-color: #333333;

  --hover-bg: #333333;
  --focus-outline: #FF9800;
}

.bolded-topic {
  font-size: 2em;
  line-height: 30px;
  word-spacing: -5px;
  text-align: center;
  width: 60%;
  margin: 1.5em auto 0.5em auto;
}

.span-txt {
  color: var(--secondary-text);
}

.banner-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-description {
  text-align: center;
}

.banner-outline {
  width: 15em;
  height: 15em;
  margin: 4.5em auto;
  border: dashed 3px var(--primary-bg); 
  border-radius: 50%;
  /* background-color: var(--primary-accent); */
  background-color: #90CAF9;
  background-color: var(--primary-accent);
  position: relative;
  padding: 10px;
}

.banner-container {
  width: 15em;
  height: 15em;
  margin: auto;
  border-radius: 50%;
  background: var(--secondary-accent);
  position: relative;
  /* background: linear-gradient(0deg, rgba(39,202,204,1) 0%, rgba(255,88,88,1) 100%); */
  background: var(--secondary-bg);

}

html[data-theme="dark"] .banner-container {
  background: var(--third-bg);
}

.banner1 {
  border-radius: 200px;
  border-bottom: solid 2px var(--secondary-bg);
  width: 400px;
  position: absolute;
  top: -40%;
  right: -35%;
}

.banner2 {
  display: none;
}

.txt-bot1,
.txt-bot2,
.txt-bot3 {
  font-size: small;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  color: var(--primary-bg);
  text-align: center;
  width: fit-content;
  padding: 5px;
  position: absolute;
  font-weight: 400;
}

.txt-bot1 {
  top: 5em;
  animation: bot1 5s ease-in-out infinite;
}

.txt-bot2 {
  top: 5em;
  left: 8em;
  animation: bot2 7s ease-in-out infinite;
}

.txt-bot3 {
  top: 15em;
  left: 8em;
  animation: bot3 5s ease-in-out infinite;
}

@keyframes bot1 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-200px, -200px);
    opacity: 0;
  }
  
}

@keyframes bot2 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100px, -200px);
    opacity: 0;
  }
  
}

@keyframes bot3 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100px, 200px);
    opacity: 0;
  }
    
}

.banner-btns {
  width: 55%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: auto;
  color: var(--secondary-accent);
}

.enroll-btn {
  color: var(--primary-accent);
  background-color: transparent;
  border: solid 1px;
}

.free-btn {
  background: linear-gradient(0deg, rgba(39,202,204,1) 0%, rgba(255,88,88,1) 100%);
  
}

/******* SEARCH COURSES *******/
.logo-strike {
  background: linear-gradient(0deg, #fff8ee, #ff6b6b, var(--secondary-bg));
  /* background: #ff6b6b; */
  display: flex;
  justify-content: space-between;
  margin: 4em 0;
}

html[data-theme="dark"] .logo-strike {
  background: var(--third-bg);
}

.logo-strike img {
  width: 8em;
}

.strike-pc {
  display: none;
}

.search-courses {
  margin-top: -2em;
  overflow-x: hidden;
}

.search-title {
  text-align: center;
  color: var(--primary-text);
}

.search-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searching-input {
  height: 30px;
  width: 150px;
}

.search-btn {
  padding: 5px;
  background-color: var(--secondary-text);
  border-radius: 0 10px 10px 0;
  height: 20px;
}

.search-btn img {
  width: 20px;
}

.gallery-view {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 3em;
}

.students {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.students img {
    width: 160px;
    width: 40%;
    max-width: 270px;
}

.students-row1,
.students-row2 {
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  justify-content: center;
}

.red-stu,
.blue-stu {
  transition: transform 1s ease-out; /* Smooth animation */
}

.left {
  transform: translateX(-100vw); /* Start from left side */
}

.right {
  transform: translateX(100vw); /* Start from right side */
}

.students-row1.in-view,
.students-row2.in-view {
  opacity: 1;
}

.students-row1.in-view .left,
.students-row2.in-view .left {
  transform: translateX(0);
}

.students-row1.in-view .right,
.students-row2.in-view .right {
  transform: translateX(0);
}

.red-stu {
  border-radius: 3em 0;
  box-shadow: 0 0 15px -6px rgba(0,0,0,0.66);
  -webkit-box-shadow: 0 0 15px -6px rgba(0,0,0,0.66);
  -moz-box-shadow: 0 0 15px -6px rgba(0,0,0,0.66);
}

.blue-stu {
  border-radius: 0 5em;
  box-shadow: 0 0 15px -6px rgba(0,0,0,0.66);
  -webkit-box-shadow: 0 0 15px -6px rgba(0,0,0,0.66);
  -moz-box-shadow: 0 0 15px -6px rgba(0,0,0,0.66);
}

.gallery-txt-title {
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--primary-text);
}

.take-away-blk {
  display: flex;
  width: 80%;
  margin: 0 auto 1em auto;
  gap: 1em;
  align-items: center;
  font-size: small;
}

.take-away-icon {
  background: wheat;
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.take-away-icon img {
  width: 30px;
  height: 30px;
}

.blk-header {
  font-weight: 500;
}

.blk-txt {
  line-height: 15px;
  font-size: 10px;
}

/*****POPULAR COURSES*****/

.pc-ctn {
  box-shadow: inset 0px 1px 1px 2px rgba(255, 0, 0, 0.219);
  padding-right: 5px;
}

.yc-ctn::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.yc-ctn::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.popular-courses-ctn {
  padding: 1em;
}

.pc-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: 450;
  color: var(--secondary-bg);
}

html[data-theme="dark"] .pc-title {
  color: rgb(250, 241, 225);
}

.pc-description {
  text-align: center;
  font-size: 12px;
  color: var(--primary-text);
}



/***** FACILITATORS *****/
html[data-theme="dark"] .facilitators-stn {
  background-color: var(--third-bg);
}

.fs-title {
  font-size: 1.2em;
  margin-top: 2em;
  text-align: center;
  color: var(--primary-text);
}

.fs-card-ctn {
  display: flex;
  padding: 10px;
  gap: 1em;
  margin: 1em auto;
  width: 95%;
  overflow-x: scroll;
}

.fs-card-ctn::-webkit-scrollbar {
  height: 10px;
}

.fs-card-ctn::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Customize scrollbar thumb color */
  border-radius: 5px;
}

.fs-card {
  min-width: 200px;
  max-width: 250px;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--primary-bg);
  box-shadow: 0px 0px 2px 0px rgb(199, 9, 9);
  font-size: 12px;
}

.fs-card img {
  width: 100%;
}

.lec1 {
  transform: scale(1.4, 1.3);
}

.lec2 {
  transform: scale(1.7);
}

.fs-img-ctn {
  background: linear-gradient(0deg, #fff8ee, #ff6b6b, var(--secondary-bg));
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.fs-name {
  margin-top: 10px;
}

.fs-bio {
  display: flex;
  font-size: small;
}

.location-icon {
  border-radius: 50%;
  margin-right: 5px;
  padding: 1px;
}

/***** TESTIMONIALS *****/
.testimonials {
  box-shadow: 0px -2px 0px 0px #f4501e1a;
  padding: 2em 10px 8em 10px;
}

.tes-title {
  font-family: 1.2em;
  text-align: center;
  font-weight: 450;
  color: var(--secondary-bg);
}

html[data-theme="dark"] .tes-title {
  color: rgb(250, 241, 225);
  margin-bottom: 1em;
  font-size: 1.2em;
}

.tes-description {
  font-size: small;
  text-align: center;
}

.tes-card-ctn {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.tes-card {
  width: 60%;
  max-width: 300px;
  background-color: var(--primary-bg);
  border-radius: 15px;
  padding: 20px;
  transform: scale(0);
  box-shadow: 0px 0px 2px 0px var(--secondary-bg);
}

html[data-theme="dark"] .tes-card {
  box-shadow: 0px 0px 2px 0px var(--primary-bg);
}

.in-view2,
.in-view3 {
  animation: anim 1s ease-in-out forwards;
}

@keyframes anim {
  0% { transform: scale(0);}
  70% { transform: scale(1.2);}
  100% { transform: scale(1);}
}

.tes-stu-ctn {
  display: flex;
  gap: 1em;
  position: relative;
}

.tes-stu-ctn::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(254, 2, 2) 50%, rgba(0, 0, 0, 0) 100%);

}

.tes-stu-bio {
  font-size: 10px;
}

.tes-stu-bio .tes-stu-name {
  font-size: 1.2em;
}

.tes-stu-major {
  background-color: var(--secondary-bg);
  color: var(--primary-bg);
  padding: 0 5px;
  border-radius: 5px;
}

.tes-stu-img img {
  width: 50px;
  border-radius: 50%;
}

.tes-stu-message {
  font-size: 10px;
  margin-top: 10px;
}

.tes-btn {
  margin: 2em auto;
  display: flex;
  text-align: center;
}

/***** GET IN TOUCH *****/
.contact-stn {
  border: none;
  /* background: linear-gradient(-60deg, rgba(39,202,204,1) 0%, rgba(255,88,88,1) 100%); */
  /* background: white; */
  
}

.cs-content-ctn {
  background-color: #f4511e;
  border-radius: 150px 0 150px 0;
  margin-top: -2em;
  padding: 10px 0;
  box-shadow:  0px 0px 2px 0px #f4511e;

}

html[data-theme="dark"] .cs-content-ctn {
  background: var(--third-bg);
}

.cs-content-left {
  text-align: center;
  margin-bottom: 1em;
  color: var(--primary-bg);
}

html[data-theme="dark"] .cs-content-left {
  color: wheat;
}

.input {
  margin-top: 25px;
  padding: 12px;
  background-color: var(--primary-bg);
  border: none;
  font-family: "Inter", sans-serif;
  width: 90%;
}

.error {
  margin-top: 25px;
  background-color: white;
  border: none;
  font-family: "Inter", sans-serif;
  width: 20rem;
  color: red;
}

#textarea {
  margin-top: 25px;
  padding: 12px;
  background-color: #fbf8f7;
  width: 90%;
  border: none;
  font-family: "Inter", sans-serif;
  resize: none;
}

html[data-theme="dark"] #textarea {
  background-color: var(--primary-bg);
}

.border {
  border-bottom: 1px solid #e4e4e4;
}

.getintouchbtn {
  transition: all 300ms;
  margin: 1em;
  background: none;
  border: 1px solid var(--primary-accent);
  color: var(--primary-bg);
}

html[data-theme="dark"] .getintouchbtn {
  background-color: var(--secondary-bg);
}

.getintouchbtn:hover {
  cursor: pointer;
  background-color: #fff5e1;
  color: rgb(24 12 6);
  scale: 1.05;
  border: 1px solid rgb(161 58 0);
}

.getintouchbtn:focus {
  background-color: #e05304;
  color: #120a08;
}

.getintouch-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 3em auto;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .banner-stn {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto ;
  }

  .banner-txt {
    width: 60%;
    margin-top: 5em;
  }

  .banner-btns {
    justify-content: flex-start;
    gap: 2em;
    width: 60%;
    margin-bottom: 10em;
  }

  .logo-strike {
    justify-content: center;
    gap: 20%;
  }

  .gallery-view {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .pc-ctn {
    box-shadow: none;
    width: 80%;
    margin: auto;
  }

  .pc-ctn .yc-ctn {
    width: 100%;
    padding: 1em;
    gap: 2em;
  }

  .fs-card-ctn {
    width: 80%;
  }

  .fs-title {
    font-size: 1.5em;
  }

  .popular-courses-ctn {
    padding: 4em 0;
  }

  .course-card-ctn {
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  .pc-description {
    margin-bottom: 3em;
  }

  .pc-title {
    font-size: 1.5em;
  }

  .tes-card-ctn {
    flex-direction: row;
    justify-content: center;
  }

  .tes-description {
    margin-bottom: 2em;
  }

  .tes-title {
    font-size: 1.5em;
    margin-top: 2em;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {

  .banner-outline {
    width: 25em;
    height: 25em;
  }

  .banner-container {
    width: 25em;
    height: 25em;
  }
  

  .banner1 {
    width: 350px;
    top: 0;
    right: -25%;
  }

  .banner2 {
    display: block;
    width: 300px;
    border-radius: 200px;
    border-bottom: solid 2px var(--secondary-bg);
    position: absolute;
    top: 10%;
    right: 35%;
  }

  .search-courses {
    margin-top: 4em;
  }

  .logo-strike {
    justify-content: center;
    gap: 20%;
  }

  .gallery-view {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .pc-ctn {
    box-shadow: none;
    width: 80%;
    margin: auto;
  }

  .pc-ctn .yc-ctn {
    width: 100%;
    padding: 1em;
    gap: 2em;
  }

  .fs-card-ctn {
    width: 80%;
  }

  .fs-title {
    font-size: 1.5em;
  }

  .popular-courses-ctn {
    padding: 4em 0;
  }

  .course-card-ctn {
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  .pc-description {
    margin-bottom: 3em;
  }

  .pc-title {
    font-size: 1.5em;
  }

  .tes-card-ctn {
    flex-direction: row;
    justify-content: center;
  }

  .tes-description {
    margin-bottom: 2em;
  }

  .tes-title {
    font-size: 1.5em;
    margin-top: 2em;
  }

  .gallery-view {
    gap: 3em;
  }

  .gallery-txt-title {
    font-size: 1.6em;
  }

  .take-away-blk {
    font-size: medium;
    width: 100%;
    margin: 0 auto 1em auto;
  }

  .blk-txt {
    font-size: 12px;
  }

  .students img {
    width: 45%;
  }

  .take-away-icon {
    width: 70px;
    height: 50px;
  }

  .take-away-icon img {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1201px) {
  .banner-stn {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto ;
  }

  .fs-card-ctn {
    width: fit-content;
  }

  .pc-title {
    font-size: 1.5em;
  }

  .fs-title {
    font-size: 1.5em;
  }

  .bolded-topic {
    font-size: 5em;
    line-height: 70px;
    margin: 0 0 0 0.5em 0;
    width: 90%;
  }

  .banner-outline {
    width: 30em;
    height: 30em;
  }

  .banner-container {
    width: 30em;
    height: 30em;
  }

  .banner1 {
    top: 0;
    z-index: 1;
    width: 450px;
    right: -30%;
  }

  .banner2 {
    border-radius: 200px;
    border-bottom: solid 2px var(--secondary-bg);
    width: 400px;
    position: absolute;
    top: 10%;
    right: 25%;
    display: block;
  }

  .banner-txt {
    margin-top: 0;
  }

  .search-courses {
    margin-top: 0;
  }

}

@media (min-width: 1700px) {
  .bolded-topic {
    font-size: 5em;
    line-height: 70px;
    margin: 0 0 0 0.5em 0;
    width: 90%;
  }

  .banner-txt {
    width: 50%;
  }

  .search-courses {
    margin-top: -3em;
  }

  .logo-strike {
    padding: 1em 0;
  }

  .logo-strike img {
    width: 10em;
  }

  .gallery-view {
    gap: 10em;
  }

  .gallery-txt-title {
    font-size: 1.8em;
  }

  .take-away-blk {
    font-size: large;
    width: 100%;
    margin: 0 auto 2em auto;
  }

  .blk-txt {
    font-size: 13px;
  }

  .take-away-icon {
    width: 70px;
    height: 70px;
  }

  .take-away-icon img {
    width: 50px;
    height: 50px;
  }
}
