@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,300&display=swap');

:root {
  --primary-bg: #fff8ee;
  --secondary-bg: #f4511e;
  --accent-bg: #2C2C2C;

  --primary-text: #2C2C2C;
  --secondary-text: #f4511e;
  --muted-text: #757575;

  --primary-accent: rgb(255, 152, 0);
  --secondary-accent: rgb(39,202,204);
  --error-color: #FF5722;
  --success-color: #4CAF50;

  --border-color: #333333;

  --hover-bg: #333333;
  --focus-outline: #FF9800;
}

header, .navbar {
  background-color: var(--secondary-bg);
  border-bottom: 1px solid var(--border-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
  padding: 0.5rem 1rem;
  position: relative;
}

.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 2px;
  margin: 0;
  background-color: var(--primary-accent);
  transition: all 0.4s ease;
}

.rotate {
  transform: rotate(45deg);
  position: relative;
  top: 10px;
}

.fade-out {
  opacity: 0;
}

.rotate-reverse {
  transform: rotate(-45deg);
  position: relative;
  top: -10px;
}

.logo {
  cursor: pointer;
}

.logo-pic {
  width: 10em;
}

.sign-in {
  display: flex;
  align-items: center;
  margin-right: 50px;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  padding: 2px 5px;
  height: 25px;
  gap: 5px;
  font-size: small;
  cursor: pointer;
}

.profile {
  width: 20px;
}

.links {
  position: absolute;
  top: 70px;
  right: -100%;
  height: 100vh;
  background: var(--secondary-bg);
  width: 50%;
  z-index: 999;
  transition: right 0.5s ease-in-out;
}

.links.open {
  right: 0;
}

.links a {
  color: var(--primary-bg);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  font-size: 14px;
}

html[data-theme="dark"] .links a {
  color: rgb(247, 235, 214);
}

.side-link:hover {
  background: #ccc;
}

.login-form h2 {
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.login-form p {
  color: var(--primary-bg);
  font-size: 14px;
}

.fp-btn {
  border: 1px solid var(--primary-accent);
  padding: 5px 10px;
}

.right-nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

@media (min-width: 768px) {
  .nav {
    padding-top: 2em;
  }

  .logo-pic {
    width: 12em;
  }

  .nav .right-nav > .sign-in {
    margin-right: 0;
  }

  .menu-icon {
    display: none;
  }

  .links {
    height: 7vh;
    right: 20%;
    width: 55%;
    background: none;
    top: 0;
    padding-top: 2em;
  }

  .side-links {
    display: flex;
    justify-content: center;
  }

  .links a {
    display: inline;
    color: var(--secondary-bg);
    font-size: 1em;
  }
}