:root {
  --primary-bg: #fff8ee;
  --secondary-bg: #f4511e;
  --accent-bg: #2C2C2C;

  --primary-text: #2C2C2C;
  --secondary-text: #f4511e;
  --muted-text: #757575;

  --primary-accent: rgb(255, 152, 0);
  --secondary-accent: rgb(39,202,204);
  --error-color: #FF5722;
  --success-color: #4CAF50;

  --border-color: #333333;

  --hover-bg: #333333;
  --focus-outline: #FF9800;
}


.menu-icon2 {
  top: 50%;
  left: 1em;
}

.links2.open {
  left: 0;
}

.links2 {
  left: -100%; /* Start hidden outside the screen */
  height: 100vh;
  transition: left 0.5s ease-in-out; /* Smooth slide-in effect */
  position: absolute;
  z-index: 999;
  background-color: rgb(167, 39, 39);
  box-shadow: 0px 0px 1px 0px var(--secondary-text);
}

.notification {
  width: 25px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 20%;
}

.nav2 {
  justify-content: end;
  gap: 0.5em;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(25px);
  z-index: 10;
  box-shadow: 0px 0px 0.5px 2px rgba(107, 26, 26, 0.116);
  overflow: visible;
}

.logo-pic {
  width: 8em;
}

.nav2 .logo {
  margin-left: 3em;
  cursor: pointer;
}

.sign-in2 {
  margin-right: 0;
  font-size: 10px;
  padding: 5px;
}

.side-link.not-admin {
  display: none;
}

.side-link {
  display: flex;
  align-items: center;
}

.side-link .chevron-down {
  width: 15px;
  transition: 0.3s ease-in-out;
}

.side-link .chevron-down.rotate {
  transform: rotate(180deg);
  top: 0;
}

.course-links {
  margin-right: 5px;
  flex-direction: column;
  background-color: wheat;
  display: none;
}

.expand {
  display: flex;
}

.cl {
  display: flex;
  align-items: center;
}

.links .course-link {
  font-size: 12px;
  font-weight: 300;
  padding: 5px 0;
  margin-left: 2em;
  color: var(--primary-text);
  transition: 0.3s;
}

.course-link:hover {
  text-decoration: underline;
}

.nav2-right {
  display: flex;
  gap: 1em;margin-right: 2em;
}

.link-icon {
  width: 25px;
  margin-left: 5px;
}

.search-container {
  width: 100%;
  max-width: 300px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-results {
  position: absolute;
  width: 70%;
  left: 10%;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  color: var(--primary-text);
  font-size: 12px;
}

.search-item {
  padding: 10px;
  cursor: pointer;
}

.search-item:hover {
  background: #f0f0f0;
}


@media (min-width: 768px) {
  .links2 {
    left: 0%;
    width: 25%;
    position: fixed;
    max-width: 250px;
    background-color: var(--primary-bg);
    z-index: 9;
    box-shadow: 0px 0px 1px 0px var(--secondary-text);
  }

  .nav2 .logo {
    z-index: 11;
  }

  .nav2-right {
    display: flex;
    gap: 1em;
  }

  .main-view {
    overflow: hidden;
    height: 100vh;
  }
  .content-view {
    width: 100%;
    overflow-y: scroll;
  }

  .nav2 {
    width: 100%;
    justify-content: space-between;
  }

  .sign-in2 {
    margin-right: 3em;
    font-size: 12px;
  }

  .links2 .side-links {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
  }

  .side-link.active {
    background-color: var(--secondary-text);
    width: 100%;
    padding: 10px 0;
  }

  .side-link.active a {
    color: white;
  }

  .search-container {
    position: relative;
  }

  .search-results {
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    color: var(--primary-text);
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .nav2-right {
    margin-right: 10%;
  }
}