:root {
  --primary-bg: #fff8ee;
  --secondary-bg: #f4511e;
  --accent-bg: #2C2C2C;

  --primary-text: #2C2C2C;
  --secondary-text: #f4511e;
  --muted-text: #757575;

  --primary-accent: rgb(255, 152, 0);
  --secondary-accent: rgb(39,202,204);
  --error-color: #FF5722;
  --success-color: #4CAF50;

  --border-color: #333333;

  --hover-bg: #333333;
  --focus-outline: #FF9800;
}


.summary-ctn {
  margin-top: 5em;
}

.sum-title {
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 450;
}

.table-container {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin: 2em 0;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  background-color: #fff8ee;
}

html[data-theme="dark"] .table-container {
  background-color: var(--primary-bg);
}

html[data-theme="dark"] .table-header {
  background-color: var(--third-bg);
}

.table-container .table-header {
  width: 80%;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: rgb(204, 204, 204);
  color: rgb(13, 13, 66);
  font-size: 16px;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.377);
  /* position: relative; */
  
}

.table-banner1 {
  position: absolute;
  transform: rotate(-90deg) translateY(-5px) translateX(-2px);
  width: 40px;
}

th {
  font-weight: 500;
}

.table-body {
  overflow-y: auto;
  overflow-x: auto;
  width: 80%;
  margin: auto;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.377);
  
}

html[data-theme="dark"] .table-body {
  background-color: var(--third-bg);
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th, td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #33333375;
  color: var(--primary-text);
}

.th-width, .td-width {
  width: 60px;
}

td {
  font-size: 12px;
}

th.stn-data,
td.stn-data {
  width: 160px;
}

th.item,
td.item {
  width: 140px;
}

th.table-date,
td.table-date,
th.person,
td.person {
  width: 70px;
}

.table-header::-webkit-scrollbar {
  height: 10px;
  background-color: white;
}

.table-header::-webkit-scrollbar-thumb,
.table-body::-webkit-scrollbar-thumb {
  background-color: rgb(104, 97, 97);
  border-radius: 20px;
}

.table-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.table-body tr:hover {
background-color: #ddd;
}


.styled-table th,
.styled-table td {
padding: 12px 15px;
text-align: center;
}

.styled-table th {
background-color: #4CAF50;
color: white;
}

.video-container {
  width: 40%;
  max-width: 300px;
  margin: 2em auto;
}

.background-video {
  width: 100%;
  border-radius: 50%;
}

.present {
  background-color: green;
  color: wheat;
  padding: 0 5px;
  border-radius: 5px;
}

.absent {
  background-color: red;
  color: wheat;
  padding: 0 5px;
  border-radius: 5px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .summary-ctn {
    padding-left: 30%;
  }

  .table-container .table-header {
    margin: 0;
  }

  .table-body {
    margin: 0;
  }
}

@media (min-width: 1201px) {
  .summary-ctn {
    padding-left: 25%;
  }

  .table-container .table-header {
    margin: 0;
  }

  .table-body {
    margin: 0;
  }
}
